{:s3-bucket "bucket-name"
 :s3-path "relative/path/in/bucket"
 :user-id "aws user-id with no -'s"
 :private-key-source {:local-file "path to your pk.pem" }
 :certificate-source {:local-file "path to your cert.pem"}}
